Repository mrcaidev/homepage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

perf: increase color contrast
  src/components/about/article.tsx
  src/components/cover/subtitle.tsx
  src/components/footer/footer.tsx
  src/components/projects/language-card.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

perf: remove lcp animation
  src/components/cover/avatar.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

refactor(file): adopt named export
  src/components/about/index.ts
  src/components/cover/index.ts
  src/components/footer/index.ts
  src/components/projects/index.ts
  src/components/skills/index.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/utils/motion.util.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

perf: remove dynamic cover page
  src/pages/index.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

feat: accessible card modal
  src/components/common/icon-button.tsx
  src/components/skills/card.tsx
  src/components/skills/skills.tsx
  src/components/top-bar/side-menu.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

feat: accessible side menu
  src/components/top-bar/side-menu-container.tsx
  src/components/top-bar/side-menu.tsx
  src/components/top-bar/theme-toggler.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

feat: keyboard focusable section title
  src/components/common/section.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

fix(component): backdrop positioning
  src/components/common/backdrop.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

feat(component): transparent top bar
  src/components/common/icon-button.tsx
  src/components/common/icon-link.tsx
  src/components/top-bar/navigation-links.tsx
  src/components/top-bar/top-bar.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

refactor: top bar dom structure
  src/components/top-bar/side-menu-container.tsx
  src/components/top-bar/side-menu.tsx
  src/components/top-bar/top-bar.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

docs: add details in README
  README.md
Due: prettier --write --cache

fix(data): fix broken repo link
  src/data/repositories.json
Due: prettier --write --cache

build(dep): bump dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

build(dep): add @mrcaidev/hooks
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

refactor: replace src/hooks with @mrcaidev/hooks
  src/components/skills/card.tsx
  src/components/top-bar/side-menu.tsx
  src/components/top-bar/top-bar.tsx
  src/contexts/theme.context.tsx
  src/hooks/boolean.hook.ts
  src/hooks/local-storage.hook.ts
  src/hooks/media-query.hook.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

build(dep): update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

build(dep): add next bundle analyzer
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

fix: broken app when cookie is disabled
  src/hooks/locale.hook.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

refactor: app, topbar and footer
  next.config.js
  src/components/footer/column.tsx
  src/components/footer/contacts.tsx
  src/components/footer/footer.tsx
  src/components/footer/logo.tsx
  src/components/footer/nav-column.tsx
  src/components/footer/sections.tsx
  src/components/footer/wave.tsx
  src/components/top-bar/github-link.tsx
  src/components/top-bar/index.ts
  src/components/top-bar/locale-toggler.tsx
  src/components/top-bar/logo.tsx
  src/components/top-bar/nav-links.tsx
  src/components/top-bar/navigation-links.tsx
  src/components/top-bar/side-menu-container.tsx
  src/components/top-bar/side-menu.tsx
  src/components/top-bar/theme-toggler.tsx
  src/components/top-bar/top-bar.tsx
  src/data/contacts.json
  src/data/nav-links.json
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles/globals.css
  tailwind.config.js
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

refactor(component): about
  src/components/about.tsx
  src/components/about/about.tsx
  src/components/about/divider.tsx
  src/components/about/index.ts
  src/components/about/profile-card.tsx
  src/components/about/profile.tsx
  src/components/about/self-intro.tsx
  src/components/about/side-picture.tsx
  src/components/common/section.tsx
  src/i18n/profile.json
  src/i18n/self-intro.json
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

refactor: cover
  src/components/cover.tsx
  src/components/cover/avatar.tsx
  src/components/cover/cover.tsx
  src/components/cover/download-cv.tsx
  src/components/cover/index.ts
  src/components/cover/subtitle.tsx
  src/components/cover/title.tsx
  src/pages/index.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

refactor(component): skills
  src/components/skills/card-face.tsx
  src/components/skills/card.tsx
  src/components/skills/skills.tsx
  src/data/skills.json
  src/i18n/skills.json
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

refactor: projects
  src/components/projects.tsx
  src/components/projects/index.ts
  src/components/projects/language-card.tsx
  src/components/projects/projects.tsx
  src/components/projects/repository.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

refactor: remove unused code
  next.config.js
  src/components/common/backdrop.tsx
  src/components/common/bold.tsx
  src/components/common/icon-button.tsx
  src/components/common/icon-link.tsx
  src/components/common/modal.tsx
  src/hooks/locale.hook.ts
  src/i18n/cover.json
  src/i18n/footer.json
  src/i18n/sections.json
  src/pages/index.tsx
  src/utils/stat.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

fix: remove initial modal focus
  src/components/skills/card.tsx
  src/components/top-bar/side-menu.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

refactor(style): section title padding
  src/components/common/section.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

feat(component): add keyboard shortcuts
  src/components/top-bar/theme-toggler.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

feat(component): 404 page
  src/pages/404.tsx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

chore(structure): move assets into public/assets/
  src/assets/arch.svg
  src/assets/docker.svg
  src/assets/logo.svg
  src/assets/nestjs.svg
  src/assets/reactjs.svg
Due: none

build(dep): add astro integrations
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/pages/index.astro
  tailwind.config.js
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

build(dep): add astro integrations
  .lintstagedrc.json
  .npmrc
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/env.d.ts
  src/pages/index.astro
  tailwind.config.js
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

feat(component): headers
  package.json
  pnpm-lock.yaml
  src/components/Header/GithubLink.astro
  src/components/Header/Header.astro
  src/components/Header/NavLink.astro
  src/components/Header/NavMenu.tsx
  src/components/Header/ThemeToggler.tsx
  src/components/Header/index.ts
  src/components/common/Modal.tsx
  src/data/navLinks.json
  src/layouts/BaseLayout.astro
  src/pages/404.astro
  src/styles/global.css
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

chore(config): update config
  .editorconfig
  .eslintrc.json
  .gitignore
  .lintstagedrc.json
  .npmrc
  README.md
  astro.config.ts
  package.json
  pnpm-lock.yaml
  public/cv.pdf
  public/logo.svg
  src/data/navLinks.json
  src/env.d.ts
  tailwind.config.js
  tsconfig.json
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

feat: new header
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/components/Head.astro
  src/components/Header.astro
  src/components/Header/GithubLink.astro
  src/components/Header/Header.astro
  src/components/Header/NavMenu.tsx
  src/components/Header/ThemeToggler.tsx
  src/components/Header/index.ts
  src/components/Menu.tsx
  src/components/NavLink.astro
  src/components/ThemeToggler.tsx
  src/components/common/Modal.tsx
  src/hooks/useBoolean.ts
  src/hooks/useTheme.ts
  src/layouts/BaseLayout.astro
  src/layouts/Page.astro
  src/pages/404.astro
  src/pages/index.astro
  src/styles/global.css
  tailwind.config.js
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

feat: footer
  src/components/BackToTop.tsx
  src/components/Footer.astro
  src/layouts/Page.astro
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache

perf: use svg as favicon
  public/favicon.ico
  src/components/Footer.astro
  src/components/Head.astro
  src/components/Header.astro
Due: none

chore: update robots.txt
  public/robots.txt
Due: none

fix: typescript import eslint error
  package.json
Due: prettier --write --cache

Path conditions:
  eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache: any of: *.{js,ts,jsx,tsx}
  prettier --write --cache: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{html,json,md,yaml})
